body
{
    font-family: 'Redressed', cursive;
   margin: 0px;
}

h1{
    font-size: 50px;

}

h2{
    font-size: 40px;
    /*float: left;*/

}

.orange-highlight{
    color:  salmon;
}
.intro{
    color: cadetblue;
}
.link-button{
    text-decoration: none;
    padding: 10px;
    color: black;
    float:right;
    margin-right: 5%;
}

.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    }

.half-width img{
        width: 80%;
    }

.hire-button{
        text-decoration: none;
        /*background-color: brown;*/
        background-image:linear-gradient(45deg, salmon, tomato);
        padding: 10px 10px;
        border-radius:5px;
        color: white;
        font-weight: bold;
        margin-top:10% ;
    
    }
    .download-button{
        text-decoration: none;
        /*background-color: brown;*/
        background-image:linear-gradient(45deg, salmon, tomato);
        padding: 20px 20px;
        border-radius:5px;
        color: white;
        font-weight: bold;
        margin-top:10% ;
    
    }
#latest-work{
    height: 10%;
}

#project{
    color: darkcyan;
    text-align: center;
    float: left;
    padding-top: 10%;
}    

.latest{
    color: rgb(123, 127, 145);
    
}
.power{
    background-image: url("images/image4.png");
    background-repeat: no-repeat;

}

.thrice-width{
    width:33.33%;
    float: right;
    margin-top: 6%;
    box-shadow: 10px 10px 40px gray ;
    border-radius: 10px;
    height: 65%;
    background-color: honeydew;
    }
 .thrice-width img{
     width: 80%;
 }   
 .thrice-width-section{
     padding-top: 50px;
     text-align: center;

 }
 .imageContainer {
   
    background-image: url("images/Group_33094_1.png");
    background-repeat: no-repeat;
    float: right;
    width: 90%;
    margin-top: 6%;

}
.contact{
    text-align: center;
    font-weight: bold;
    float: right;
    padding-top: 90px;
    color: royalblue;
    padding-right: 41%;

}
.social{
    float: right;
    width: 33.33%;
    text-align: center;
    padding-top: 17%;
    margin-right: -23%;
}

.social img{
    width: 17%;
}

.single-experience{
    box-shadow: 10px 10px 40px gray ;
    border-radius: 10px;
    height: 65%;
    background-color: honeydew;
}

.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, salmon, tomato);
    border-image-slice: 1;
    margin-top: 70px;
}
#beginner-web{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    margin-top: 70px;
}

.copy-right{
    text-align: center;
    font-size: 10px;
    float:right;
    margin-top:25%;
    margin-right: -20%;
}

.image{
    float: right;
    width: 85%;
    margin: 70px 0px;
    /* padding: 0px 4px; */
    padding-right: 6%;
}
.work{
    float: left;
    position: relative; 
    color: whitesmoke;
    text-align: center;
    margin-top: -17%;
    margin-left: 16%; 
}
.chat-button{
    text-decoration: none;
    /*background-color: brown;*/
    background-image:linear-gradient(45deg, salmon, tomato);
    padding: 10px 10px;
    border-radius:5px;
    color: white;
    font-weight: bold;
    margin-top:-17% ;
    float: right;
    margin-right: 21%;
    padding: 20px 44px;

}

#experience-text{
    float: left;
    margin: -2%;
    padding-left: 7%;
}